.form{
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
width: 50%;
border: 3px solid green;
padding: 10px;

}

.head{
  display: flex;
  align-items: center;
  justify-content: center;
   ;
}
.input{
  display: flex;
  align-self: center;
  justify-content: center;
  
 ;}
 .button{
  color: green;
 
 }
